.card {
    grid-area: card;

    width: 341px;
    height: 148px;
    background: $primary-bg;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: $rounded;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 1vw;
    

    &__title {
        display: grid;
        justify-items: start;
        margin-left: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }

    &__info {
        display: grid;
        justify-items: start;
        margin-left: 20px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    &__menu-btn {
        display: grid;
        justify-items: end;
        padding-right: 30px;
        padding-top: 25px;
        border: none;
        background:  $primary-bg;
        border-radius: $rounded;
    }

    &__statistics {
        display: grid;
        justify-items: end;
        padding-right: 30px;
        padding-top: 15px;

        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
          
}