.card-linear {
    grid-area: linear;
    
    width: 370px;
    height: 242px;
    background: $primary-bg;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: $rounded;
    display: grid;
    grid-template-columns: repeat(2, 70%);
    grid-template-rows: repeat(2, 80px);
    margin-right: 20px;


    &__title {
        margin-left: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }

    &__country {
        margin-top: 28px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;  
    }

    &__sectors {
        margin-left: 20px;
    }
}