.card-graph {
    grid-area: graph;
    
    width: 768px;
    height: 242px;
    background: $primary-bg;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: $rounded;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 80px);

    
    &__title {
        margin-left: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    
    &__data {
        margin-top: 15px;
        margin-left: 100px;
        max-width: 180px;
        max-height: 30px;
    }

    &__characteristics {
        margin-top: 20px;
        margin-left: 120px;
    }

}