.main {
    grid-area: main;
    
    padding: 15px;
    background: $app-color;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 250px 250px;
    grid-template-areas: 'card card card'
                        ' graph graph sector'
                        ' histogram histogram linear';
    grid-gap: 15px;

}