.nav {
    background: $primary-bg;
    grid-area: nav;
    display: grid; 
    grid-template-rows: 190px 440px ;
    position: relative;


    &__logo-img {
        width: 60px;
        height: 40px;
        margin: 20px;
        margin-top: 60px; 
    }

    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        margin: auto;
    }

    &__toggle-theme {
        margin-bottom: 60px;
        margin-left: 20px;
        display: flex;
        align-items: end;
    }
}